/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.cadastro {
  padding: 2px;
  display: table;
}
.cadastro label{
	font-size: 11pt;
}
.cadastro input{
  text-transform:none;
}
.voltar{
	background: #666  url("voltar.jpeg") no-repeat;
	padding:0px;
	text-decoration: none;
	text-align:center;	
	color:#ccc;
	display:block;
	width: 50px;
	height: 17px;
}
.excluir{
	background: #666  url("deletar.jpeg") no-repeat;
	padding:0px;
	text-decoration: none;
	text-align:center;	
	color:#ccc;
	display:block;
	width: 16px;
	height: 16px;
}
.editar{
	background:#666   url("editar.jpg") no-repeat;
	padding:0px;
	text-decoration: none;
	text-align:center;	
	color:#ccc;
	display:block;
	width: 17px;
	height: 18px;
}

.botao{
	height:28px;
}